
.project__wrap{
    position: relative; 
}

.project__structure{
    padding: 0;
    background-image: url('../../images/project-background.png');
    background-position: center;
    background-size: cover;
    border-bottom: 1px var(--lessdarkgrey) solid;
}

.project__content{
    padding: 0 10%;
    margin-bottom: 20px;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 50px; 
}

.project__content div{
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.project__image{
    width: 100%;

    position: relative;
    border: 1px var(--lightgrey) solid; 
    border-radius: 5px;
}

.project__image img{
    background-position: center;
    background-size: contain;
}

.project__name{
    font-family: var(--bolditalic), Arial, Helvetica, sans-serif;
    font-size : 5rem;
    line-height: 5rem;
    margin: 0;
    font-weight: 700;
}


.project__subtitle {
    font-family: var(--regularitalic), Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: var(--yellow);
    margin: 0;
}

.project__link{
    font-family: var(--lightitalic), Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: var(--white);
    margin-top: 30px;
    cursor: pointer;
    text-decoration: none;
}


.project__link:hover {
    color: var(--yellow);
}

.project__link span{
    padding: 0 0 5px 0;
    border-bottom: var(--yellow) 2px solid;
}

/* MOBILE */
@media (max-width: 812px) {
  
    .project__content{
        padding: 0 5%;
        margin-bottom: 20px;
        grid-template-columns: 1fr;
        grid-column-gap: 0px; 
    }
    
    .project__content div{
        text-align: center;
        
    }

    .project__content div:first-child{
        bottom: 20%;
        left: 0;
        width: 100%;
        position: absolute;
        padding: 0 2rem 0 2rem;
    }
    .project__content div:nth-child(2){
        top: 10%;
        padding: 2rem;
        left: 0;
        width: 100%;
        position: absolute;
        }
    
    .project__name{
        font-size : 2rem;
        line-height: 2rem;
     
    }  

    .project__subtitle {
        font-size: 20px;
    }
    
    .project__link{
        margin-top: 30px;
    }

    .project__image {
        height: 100%;
        height: 290px;
        object-fit: cover;
    }

}