.hero{
  height: 100vh;
  padding: 0 10%;
  display: flex;
  align-items: center; 
  justify-content: center;
  flex-flow: column;
  background-color: var(--lessdarkgrey);
}

.hero__quote{
    color: var(--white);
    margin: 0 auto; 
    display: block;
    text-align: center;
    font-family: 'MarineItalic', Arial, Helvetica, sans-serif;
}

.hero__quote h1{
    font-weight: 700;
    display: block;
    font-size: 3.5rem;
}

.hero--yellow{
    color: var(--yellow);
}



.hero__bar{
    display: inline-block;
    background-color: var(--white);
    margin-left: 0.1rem;
    width: 3px;

  }
/*
  .typed-text {
    font-weight: normal;
    color: #dd7732;
  }
.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
  }
.typing {
    animation: none;
  }
  @keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
  }*/

.arrow {
  margin-top: 5%;
  background-color: transparent;
  border: 0;
  border-left: var(--yellow) 2px solid;
  border-top: var(--yellow) 2px solid;
  width: 15px;
  height: 15px;
  transform:matrix(2.12,-0.74,-2.12,-0.74,0,0);
  -ms-transform:matrix(2.12,-0.74,-2.12,-0.74,0,0);
  -webkit-transform:matrix(2.12,-0.74,-2.12,-0.74,0,0);
  cursor: pointer;
}

button:focus {outline:0;}