.hero{
  height: 100vh;
  padding: 0 10%;
  display: flex;
  align-items: center; 
  justify-content: center;
  flex-flow: column;
  background-color: var(--lessdarkgrey);
}

.hero__quote{
    color: var(--white);
    margin: 0 auto; 
    display: block;
    text-align: center;
    font-family: 'MarineItalic', Arial, Helvetica, sans-serif;
}

.hero__quote h1{
    font-weight: 700;
    display: block;
    font-size: 3.5rem;
}

.hero--yellow{
    color: var(--yellow);
}



.hero__bar{
    display: inline-block;
    background-color: var(--white);
    margin-left: 0.1rem;
    width: 3px;

  }


.arrow {
  margin-top: 5%;
  background-color: transparent;
  border: 0;
  border-radius: 2px;
  border-left: var(--yellow) 3px solid;
  border-top: var(--yellow) 3px solid;
  width: 15px;
  height: 15px;
  transform:matrix(2.12,-0.74,-2.12,-0.74,0,0);
  -ms-transform:matrix(2.12,-0.74,-2.12,-0.74,0,0);
  -webkit-transform:matrix(2.12,-0.74,-2.12,-0.74,0,0);
  cursor: pointer;
}

button:focus {outline:0;}


/* MOBILE */
@media (max-width: 812px) {
  
  .hero__quote h1{
    font-size: 2.5rem;
  }

  .arrow {
    margin-top: 15%;
  }
}