.experiment{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background-color: var(--lessdarkgrey);
}

.experiment h1{
    font-family: var(--bolditalic), Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 3.5rem;
    color: var(--white);
}

.experiment__wrap {
    text-align: center;
    display: grid;
    margin: 5% 0 0 0;
    padding: 0 10%;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    min-height: 500px;
    width: 100%;
}

figure{
    margin: 0;
    position: relative;
}

.experiment__content--hover{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background : var(--yellow);
    color: var(--darkgrey);
    opacity: 0;
    transition: 0.5s ease all;
    
}

.experiment__content--hover:hover{
    visibility: visible;
    opacity: 0.9;
    z-index: 3;
  }


.experiment__contentwrap {
    border: 2px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.experiment__title {
    font-family: var(--bolditalic), Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--black);
    margin-block-start: 0;
    margin-block-end: 0;
}

.experiment__subtitle  {
    font-family: var(--lightitalic), Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 1rem;
    color: var(--black);
    margin-block-start: 0;
    margin-block-end: 0;
    padding-bottom: 30px;
}

.experiment__contentwrap ul {
    padding: 0;
}

.experiment__contentwrap ul li {
    display: inline;
    padding: 5px;
}

.experiment__contentwrap ul li a {
    text-decoration: none;
    font-family: var(--bolditalic), Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    color: var(--black);
}