.contact{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background-color: var(--lessdarkgrey);
}

.contact__title {
    font-family: var(--bolditalic), Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 3.5rem;
    color: var(--white);
    margin-bottom: 50px;
}

.contact__wrap {
    text-align: center;
    padding: 0 10%;
    width: 60%;
}

.contact__form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input__wrap {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 20px; 
    margin: 20px;
    width: 100%;
}
.contact__form input {
    border-radius: 5px;
    border: 0;
    height: 60px;
    padding: 20px;
    font-family: var(--regular), Arial, Helvetica, sans-serif;
}

.contact__form input:focus, .contact__form textarea:focus{
    outline-color: var(--yellow);
}

.contact__form textarea{
    border-radius: 5px;
    border: 0;
    width: 100%;
    height: 210px;
    padding: 20px;
    font-family: var(--regular), Arial, Helvetica, sans-serif;
    resize: none;

}
.contact__form  button {
    padding: 17px 60px;
    font-size: 20px;
    background: var(--yellow);
    border: 0;
    border-radius: 5px;
    font-family: var(--bolditalic), Arial, Helvetica, sans-serif;
    margin: 20px;
}

.field__hidden{
    display: none;
}

.thankyou{
    width: 100%;
    min-height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background-color: var(--lessdarkgrey);
}


.thankyou__title{ 
    font-family: var(--bolditalic), Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 3.5rem;
    color: var(--white);
}

/* MOBILE */
@media (max-width: 812px) {
    .contact{
        padding: 20% 0 20% 0;
    }
    
    .contact__title {
        font-size: 2.8rem;
    }
    
    .contact__wrap {
        padding: 10% 2rem;
        width: 100%;
    }

    .input__wrap {
        grid-template-columns: 1fr;
        margin: 0 0 20px 0;
    }
    
    .input__wrap input:first-child{
        margin: 0 0 20px 0;
    }

    .thankyou__title{ 
        font-size: 2.8rem;
    }

}