@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/MuseoSans-300.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/MuseoSans-500.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/MuseoSans-700.otf') format('opentype');
  font-weight: 700;
}

:root{
  --white: #D2D2D9;
  --darkblue: #140B2E;
  --lightblue: #8685A1;
}

body {
  background: #fff;
  font-family: 'MuseoSans', Arial, Helvetica, sans-serif;
  margin: 0 auto;
}

img {
  max-width: 100%;
  max-height: 100%;
}

h1{
  margin: 0;
}