footer{
    position: relative;
    float: left;
    bottom: 0;
    width: 100%;
    border-bottom: var(--yellow) 5px solid;
    text-align: center;
    font-size: 10px;
    word-spacing: 0.3em;
    padding: 15px;
    height: 5%;
}

.footer--yellow{
    color: var(--yellow);
}
